DISCORD_API_KEY = "CHANGE ME"

DATABASE_URL = "sqlite+aiosqlite:///data/content.sqlite"

GOOGLE_API_KEY = "CHANGE ME"

log_level = "DEBUG"

discord_log_level = "INFO"

IPC_SECRET = "CHANGE ME"

SPOTIFY_CLIENT_ID = "CHANGE ME"
SPOTIFY_CLIENT_SECRET = "CHANGE ME"

SERVER_TZ = "Europe/Berlin"
